spring:
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password: 
    driver-class-name: org.h2.Driver
    
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    
  flyway:
    enabled: false
    
  kafka:
    bootstrap-servers: localhost:9092

logging:
  level:
    com.ecommerce.order: DEBUG
    org.springframework.kafka: DEBUG

